.grid{
    width: 400px;
    height: 600px;
    background-image: url('backgroung.png');
    /* background-color: yellow; */
    position: relative;
    font-size: 100px;
    text-align: center;
}

.doodler{
    width: 60px;
    height: 85px;
    /* background-color: red; */
    position: absolute;
    background-image: url('doodler-guy.png');
}

.platform{
    background-image: url('platform.png');
    width: 85px;
    height: 15px;
    /* background-color: green; */
    position: absolute;
}